[Desktop Entry]
Type=Service
MimeType=all/all;
Actions=sendhere;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=folder-send

[Desktop Action sendhere]
Name=SendHere
Icon=folder-send
Exec=sendhere %U
